nav {
  background-color: #333;
  padding: 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-right: 15px;
      display: inline-block;

      a {
        text-decoration: none;
        color: #fff;
        transition: background-color 0.3s;

        &.active {
          font-weight: bold;
          background-color: #555;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
