
<div class="filter">
  <h1>Catálogo de Bancos</h1>
  <div>
  <label>Código do Banco: </label>
  <input [(ngModel)]="searchCode" />
  <button (click)="searchByCode()">Pesquisar Banco</button>
  </div>
</div>

<div  class="board-bank" *ngIf="banks && banks.length > 0">

  <table>
    <thead>
      <tr>
        <th>Nome do Banco</th>
        <th>Nome Completo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bank of banks | paginate: { itemsPerPage: 8, currentPage: p }">
        <td><span>{{ bank.name }}</span></td>
        <td><span>{{ bank.fullName }}</span></td>
        <td>
          <button (click)="openRegisterModal(bank)">Cadastrar Conta</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
</div>

<div *ngIf="!banks || banks.length === 0">
  <p>Nenhum banco encontrado.</p>
</div>
