@import './variables.scss';

body {
  background-color: $background-color;
  font-family: "Open Sans", sans-serif;
}
button {
  padding: 8px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: $primary-button-color;
}


a {
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

html, body { height: 100%; }

