<div class="custom-dialog">
  <div class="mat-dialog-close">
    <button mat-icon-button mat-dialog-close aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="info-bank">
      <p><label>ISPB:</label> {{ bank.ispb }}</p>
      <p><label>Nome Banco: </label>{{ bank.name }}</p>
      <p><label>Código do Banco:</label> {{ bank.code }}</p>
      <p><label>Nome Completo Banco:</label> {{ bank.fullName }}</p>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Agência</mat-label>
        <input matInput [formControl]="agency" (input)="validateNumber($event)"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Conta</mat-label>
        <input matInput [formControl]="account"  (input)="validateNumber($event)"/>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="registerAccount()" [disabled]="!formValid" [class.disabled-button]="!formValid">Salvar Conta</button>
  </mat-dialog-actions>
</div>
